<header>
  <div class="container">
    <a routerLink="/" class="logo">CoolApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/bookinglist">Booking List</a></li>
        <li><a href="#" routerLink="/addBooking">create Booking</a></li>
        <li><a href="#" routerLink="/mechanicList">Mechanic List</a></li>
        <li><a href="#" routerLink="/addMechanic">Add Mechanic</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>